# ADS 509 Sentiment Assignment

This notebook holds the Sentiment Assignment for Module 6 in ADS 509, Applied Text Mining. Work through this notebook, writing code and answering questions where required. 

In a previous assignment you put together Twitter data and lyrics data on two artists. In this assignment we apply sentiment analysis to those data sets. If, for some reason, you did not complete that previous assignment, data to use for this assignment can be found in the assignment materials section of Blackboard.

## General Assignment Instructions

These instructions are included in every assignment, to remind you of the coding standards for the class. Feel free to delete this cell after reading it. 

One sign of mature code is conforming to a style guide. We recommend the [Google Python Style Guide](https://google.github.io/styleguide/pyguide.html). If you use a different style guide, please include a cell with a link. 

Your code should be relatively easy-to-read, sensibly commented, and clean. Writing code is a messy process, so please be sure to edit your final submission. Remove any cells that are not needed or parts of cells that contain unnecessary code. Remove inessential `import` statements and make sure that all such statements are moved into the designated cell. 

Make use of non-code cells for written commentary. These cells should be grammatical and clearly written. In some of these cells you will have questions to answer. The questions will be marked by a "Q:" and will have a corresponding "A:" spot for you. *Make sure to answer every question marked with a `Q:` for full credit.*

In [1]:
import os
import re
import emoji
import pandas as pd
import numpy as np

from collections import Counter, defaultdict
from string import punctuation

from nltk.corpus import stopwords

sw = stopwords.words("english")

In [26]:
# Add any additional import statements you need here
from string import punctuation


from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize
import nltk
nltk.download('opinion_lexicon')


# Add additional helper functions

# Some punctuation variations
punctuation = set(punctuation) # speeds up comparison
tw_punct = punctuation - {"#"}

# Just in case I need something like this.
 
def remove_punctuation(text, punct_set = tw_punct) : 
    return("".join([ch for ch in text if ch not in punct_set]))

def tokenize(text) : 
    """ Splitting on whitespace rather than the book's tokenize function. That 
        function will drop tokens like '#hashtag' or '2A', which we need for Twitter. """
    
    # modify this function to return tokens
    return text.lower().strip().split() 


def remove_stop(tokens) :
    # modify this function to remove stopwords
    return([t for t in tokens if t.lower() not in sw])

def prepare(text, pipeline) : 
    tokens = str(text)
    
    for transform in pipeline : 
        tokens = transform(tokens)
        
    return(tokens)


def lowercase(text) : 
    """ convert text to lowercase and trim excess spacing. """
    return text.lower().strip()

# # apply the `pipeline` techniques from BTAP Ch 1 or 5

# my_pipeline = [str.lower, remove_punctuation, tokenize, remove_stop]

# lyrics_data["tokens"] = lyrics_data["lyrics"].apply(prepare,pipeline=my_pipeline)
# lyrics_data["num_tokens"] = lyrics_data["tokens"].map(len) 


# twitter_data["tokens"] = twitter_data["description"].apply(prepare,pipeline=my_pipeline)
# twitter_data["num_tokens"] = twitter_data["tokens"].map(len)

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\zfreitas\AppData\Roaming\nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!

In [6]:
# change `data_location` to the location of the folder on your machine.
data_location = "C:/Users/zfreitas/Dropbox/Classes/USD/ADS-509-01-SP23 - Applied Text Mining/git/"

# These subfolders should still work if you correctly stored the 
# data from the Module 1 assignment
twitter_folder = "twitter/"
lyrics_folder = "lyrics/"

positive_words_file = "positive-words.txt"
negative_words_file = "negative-words.txt"
tidy_text_file = "tidytext_sentiments.txt"

## Data Input

Now read in each of the corpora. For the lyrics data, it may be convenient to store the entire contents of the file to make it easier to inspect the titles individually, as you'll do in the last part of the assignment. In the solution, I stored the lyrics data in a dictionary with two dimensions of keys: artist and song. The value was the file contents. A Pandas data frame would work equally well. 

For the Twitter data, we only need the description field for this assignment. Feel free all the descriptions read it into a data structure. In the solution, I stored the descriptions as a dictionary of lists, with the key being the artist.

In [7]:
# Read in the lyrics data
lyrics_df = pd.read_pickle(data_location + "lyrics_df.pkl")
lyrics_df = lyrics_df[["title", "artist", "lyrics"]]
lyrics_df

,title,artist,lyrics
0,"""88 Degrees""",cher,"Stuck in L.A., ain't got no friends \nAnd so H..."
1,"""A Different Kind Of Love Song""",cher,What if the world was crazy and I was sane\nWo...
2,"""After All""",cher,"Well, here we are again\nI guess it must be fa..."
3,"""Again""",cher,Again evening finds me at your door \nHere to ...
4,"""Alfie""",cher,"What's it all about, Alfie?\nIs it just for th..."
...,...,...,...
714,"""We Dance To The Beat""",robyn,We dance to the beat\nWe dance to the beat\nWe...
715,"""Where Did Our Love Go""",robyn,Thoughts about you and me \nThinkin' about wha...
716,"""Who's That Girl""",robyn,Good girls are pretty like all the time\nI'm j...
717,"""With Every Heartbeat""",robyn,Maybe we could make it all right\nWe could mak...
718,"""You've Got That Something""",robyn,Look at me here I am\nI'm givin all of my lovi...

In [8]:
# Read in the twitter data
twitter_df = pd.read_pickle(data_location + "twitter_df.pkl")
twitter_df = twitter_df[["artist", "description"]]
twitter_df

        artist                                        description
0         cher
1         cher           ùôøùöõùöòùöûùöç ùöúùöûùöôùöôùöòùöõùöùùöéùöõ ùöòùöè ùöñùöéùöúùöúùö¢ ùöãùöûùöóùöú & ùöïùöéùöêùöêùöíùöóùöêùöú
2         cher          163„éùÔºèÊÑõ„Åã„Å£„Å∑üíú26Ê≠≥üçí Â∑•„ÄáÂ•Ω„Åç„Å™Â•≥„ÅÆÂ≠êüíì „Éï„Ç©„É≠„Éº„Åó„Å¶„Åè„Çå„Åü„ÇâDM„Åó„Åæ„Åôüß°
3         cher                                                csu
4         cher  Writer @Washinformer @SpelmanCollege alumna #D...
...        ...                                                ...
8184476  robyn  singer of songs, type 1 diabetic, tired $jakel...
8184477  robyn  Dadx2/ Con-Arch/ Photographer/ DK #stemgr√∏nnes...
8184478  robyn         A year to change a life is still a year ‚ú®üòå
8184479  robyn  Head of Consumer - Mango. Made in Melbourne. R...
8184480  robyn  Stand for what is right, even if you stand alone.

[8184481 rows x 2 columns]

In [50]:
# Dictionary of lists of the description with the key being the artist.
twitter_dict = { "cher": list(twitter_df[twitter_df["artist"]=='cher']["description"]),
"robyn": list(twitter_df[twitter_df["artist"]=='robyn']["description"])
}

In [ ]:
# Read in the positive and negative words and the
# tidytext sentiment. Store these so that the positive
# words are associated with a score of +1 and negative words
# are associated with a score of -1. You can use a dataframe or a 
# dictionary for this.

In [12]:
# Get Negative Words
neg_words = pd.read_csv("negative-words.txt",names=['word'], skiprows=34, encoding = "ISO-8859-1")
neg_words["sentiment"] = "negative"
neg_words["lexicon"] = ""
neg_words["score"] = -1
neg_words

            word sentiment lexicon  score
0        2-faced  negative             -1
1        2-faces  negative             -1
2       abnormal  negative             -1
3        abolish  negative             -1
4     abominable  negative             -1
...          ...       ...     ...    ...
4778        zaps  negative             -1
4779      zealot  negative             -1
4780     zealous  negative             -1
4781   zealously  negative             -1
4782      zombie  negative             -1

[4783 rows x 4 columns]

In [13]:
# Get Positive Words
pos_words = pd.read_csv("positive-words.txt",names=['word'], skiprows=34, encoding = "ISO-8859-1")
pos_words["sentiment"] = "positive"
pos_words["lexicon"] = ""
pos_words["score"] = 1
pos_words

           word sentiment lexicon  score
0            a+  positive              1
1        abound  positive              1
2       abounds  positive              1
3     abundance  positive              1
4      abundant  positive              1
...         ...       ...     ...    ...
2001   youthful  positive              1
2002       zeal  positive              1
2003     zenith  positive              1
2004       zest  positive              1
2005      zippy  positive              1

[2006 rows x 4 columns]

In [15]:
# Get tidytext words
tidytext = pd.read_csv("tidytext_sentiments.txt", sep = "\t")
tidytext.loc[tidytext["sentiment"].isin(["positive"]), 'score'] = 1
tidytext.loc[tidytext["sentiment"].isin(["negative"]), 'score'] = -1
tidytext

              word sentiment   lexicon  score
0          abandon  negative       nrc   -1.0
1        abandoned  negative       nrc   -1.0
2      abandonment  negative       nrc   -1.0
3             abba  positive       nrc    1.0
4        abduction  negative       nrc   -1.0
...            ...       ...       ...    ...
15128          win  positive  loughran    1.0
15129       winner  positive  loughran    1.0
15130      winners  positive  loughran    1.0
15131      winning  positive  loughran    1.0
15132       worthy  positive  loughran    1.0

[15133 rows x 4 columns]

In [16]:
# Combine words into one dataframe.
word_score = pd.concat([tidytext, pos_words, neg_words], ignore_index=True)
word_score

              word sentiment lexicon  score
0          abandon  negative     nrc   -1.0
1        abandoned  negative     nrc   -1.0
2      abandonment  negative     nrc   -1.0
3             abba  positive     nrc    1.0
4        abduction  negative     nrc   -1.0
...            ...       ...     ...    ...
21917         zaps  negative           -1.0
21918       zealot  negative           -1.0
21919      zealous  negative           -1.0
21920    zealously  negative           -1.0
21921       zombie  negative           -1.0

[21922 rows x 4 columns]

## Sentiment Analysis on Songs

In this section, score the sentiment for all the songs for both artists in your data set. Score the sentiment by manually calculating the sentiment using the combined lexicons provided in this repository. 

After you have calculated these sentiments, answer the questions at the end of this section.

In [54]:
# your code here

lyrics_sentiment_df = lyrics_df.copy() 

pos_score = 1
neg_score = -1
word_dict = word_score.set_index('word').to_dict()["score"]

def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return (sentiment_score / len(bag_of_words)) if len(bag_of_words) else 0

lyrics_sentiment_df['Bing_Liu_Score'] = lyrics_sentiment_df['lyrics'].apply(bing_liu_score)
lyrics_sentiment_df[['artist','title','lyrics','Bing_Liu_Score']].sample(10)

,artist,title,lyrics,Bing_Liu_Score
565,cher,"""The Long And Winding Road""",The long and winding road \nThat leads to your...,0.037975
210,cher,"""Save The Children""","Don't look over my shoulder, I'm trying to rea...",-0.017045
46,cher,"""Dark Lady""",The fortune queen of New Orleans\nWas brushing...,-0.025641
163,cher,"""Lovers Forever""",Imagine a life without death or disease\nThe k...,0.042254
576,cher,"""The Thought Of Loving You""",The thought of loving you\nThe way I'm longing...,0.065476
18,cher,"""Behind The Door""","Behind the door of every house,\nIn every stre...",0.016760
520,cher,"""Rudy""","Rudy toot, it's been a long time\nSince we sai...",-0.018519
677,robyn,"""Jack U Off""",If you're looking for somewhere to go\nThought...,0.016835
574,cher,"""The Shoop Shoop Song (It's In His Kiss)""",Does he love me I want to know\nHow can I tell...,0.066879
402,cher,"""Heart Of Stone""",Beneath the white fire of the moon \nLove's wi...,0.000000

### Questions

Q: Overall, which artist has the higher average sentiment per song? 

A: <!-- Your answer here -->

---

Q: For your first artist, what are the three songs that have the highest and lowest sentiments? Print the lyrics of those songs to the screen. What do you think is driving the sentiment score? 

A: <!-- Your answer here -->

---

Q: For your second artist, what are the three songs that have the highest and lowest sentiments? Print the lyrics of those songs to the screen. What do you think is driving the sentiment score? 

A: <!-- Your answer here -->

---

Q: Plot the distributions of the sentiment scores for both artists. You can use `seaborn` to plot densities or plot histograms in matplotlib.

## Sentiment Analysis on Twitter Descriptions

In this section, define two sets of emojis you designate as positive and negative. Make sure to have at least 10 emojis per set. You can learn about the most popular emojis on Twitter at [the emojitracker](https://emojitracker.com/). 

Associate your positive emojis with a score of +1, negative with -1. Score the average sentiment of your two artists based on the Twitter descriptions of their followers. The average sentiment can just be the total score divided by number of followers. You do not need to calculate sentiment on non-emoji content for this section.

In [51]:
# your code here

df = twitter_df.copy() # [["description"]]

pos_score = 1
neg_score = -1
word_dict = word_score.set_index('word').to_dict()["score"]

def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return (sentiment_score / len(bag_of_words)) if len(bag_of_words) else 0

df['Bing_Liu_Score'] = df['description'].apply(bing_liu_score)
df[['artist','description','Bing_Liu_Score']].sample(10)

KeyboardInterrupt:

Q: What is the average sentiment of your two artists? 

A: <!-- Your answer here --> 

---

Q: Which positive emoji is the most popular for each artist? Which negative emoji? 

A: <!-- Your answer here -->